{% extends "home.html" %}
{% block title %}Login{% endblock %} 
	
{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
    <p> Please check your email and password</p>
    {% else %}
    <p> Please use the following form to login</p>
    {% endif %}
    <div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            
        {% endif %}
        
        <p> <input type="submit" value="Log-in"></p>
    </form>
    <p>
        <a href="#">
            Forgotten Your Password?
        </a>
    </p>
    </div>
{% endblock %}