<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
</head>
<body>

<header>
   
    <nav>
        <ul>
            
            <!-- Add a link to the forgot password page -->
            
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <!--<p>&copy; 2024 My Django Project. All rights reserved.</p>-->
</footer>

</body>
</html>
